<form [formGroup]="form" (ngSubmit)="save($event)">
    <h3>Name: {{ nameField.value }} {{ nameField.valid }}</h3>

    <p><input
        [class.is-valid]="isNameFieldValid"
        [class.is-invalid]="isNameFieldInvalid"
        type="text"
        formControlName="name"
        /></p>

    <div class="messages" [class.active]="(nameField.touched || nameField.dirty) && nameField.invalid">
        <p><strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong></p>
        <p><strong *ngIf="nameField.dirty && nameField.hasError('maxlength')">Debe tener maximo 10 caracteres</strong></p>
        <p><strong *ngIf="nameField.dirty && nameField.hasError('pattern')">Debe ser un nombre valido</strong></p>
    </div>

    <button [disabled]="nameField.invalid" mat-raised-button color="primary" (click)="getNameValue()">Click me</button>
    <br>

    <!-- Vemos todo lo que tiene un formControl y todo lo que podemos utilizar -->
    <!--
    <code>
        <pre>{{ nameField | json }}</pre>
    </code>
    -->

    <p>
        Email: {{ emailField.value }}
        <input type="email" formControlName="email">
    </p>

    <div class="messages" [class.active]="(emailField.touched || emailField.dirty) && emailField.invalid">
        <p><strong *ngIf="emailField.hasError('required')">Este campo es requerido</strong></p>
        <p><strong *ngIf="emailField.hasError('email')">Esto no es un email valido</strong></p>
    </div>

    <p>
        Phone: {{ phoneField.value }}
        <input type="tel" formControlName ="phone">
    </p>

    <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
        <p><strong *ngIf="phoneField.touched && phoneField.hasError('required')">Este campo es requerido</strong></p>
    </div>

    <p>
        Color: {{ colorField.value }}
        <input type="color" formControlName ="color">
    </p>

    <p>
        Date: {{ dateField.value }}
        <input type="date" formControlName ="date">
    </p>

    <p>
        Age: {{ ageField.value }}
        <input type="range" formControlName ="age">
    </p>

    <div class="messages" [class.active]="(ageField.touched || ageField.dirty) && ageField.invalid">
        <p><strong *ngIf="ageField.hasError('required')">Este campo es requerido</strong></p>
        <p><strong *ngIf="ageField.hasError('min')">Este servicio no es apto para menores de edad</strong></p>
        <p><strong *ngIf="ageField.hasError('max')">Ingrese una edad valida</strong></p>
    </div>

    <p>
        Radio: {{ radioField.value }}
        <input type="radio" formControlName ="radio">
    </p>

    <p>
        URL: {{ urlField.value }}
        <input type="url" formControlName ="url">
    </p>

    <p>
        Search: {{ searchField.value }}
        <input type="search" formControlName ="search">
    </p>

    <p>
        Category: {{ categoryField.value }}
        <select formControlName ="category">
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>
            <option value="category-3">Category 3</option>
            <option value="category-4">Category 4</option>
        </select>
    </p>

    <p>
        Tag: {{ tagField.value }}
        <select formControlName ="tag" multiple>
            <option value="tag-1">Tag 1</option>
            <option value="tag-2">Tag 2</option>
            <option value="tag-3">Tag 3</option>
            <option value="tag-4">Tag 4</option>
        </select>
    </p>

    <p>
        Agree: {{ agreedField.value }}
        <input type="checkbox" formControlName ="agreed"/>
    </p>

    <div class="messages" [class.active]="agreedField.touched && agreedField.invalid">
        <p><strong>Tiene que aprobar para continuar</strong></p>
    </div>

    <p>
        Gender: {{ genderField.value }}
        <label><input name="gender" type="radio" value="male" formControlName ="gender"/>Male</label>
        <label><input name="gender" type="radio" value="female" formControlName ="gender"/>Female</label>
        <label><input name="gender" type="radio" value="other" formControlName ="gender"/>Other</label>
    </p>

    <p>
        Zone: {{ zoneField.value }}
        <label><input name="zone" type="radio" value="zone-1" formControlName ="zone"/>Zone 1</label>
        <label><input name="zone" type="radio" value="zone-2" formControlName ="zone"/>Zone 2</label>
        <label><input name="zone" type="radio" value="zone-3" formControlName ="zone"/>Zone 3</label>
    </p>

    <button mat-stroked-button color="primary" type="submit">Send</button>
</form>