<h3>{{ nameField.value }}</h3>
<p>
    <input type="text" [formControl]="nameField"/>
</p>
<br>
<button mat-raised-button color="primary" (click)="getNameValue()">Click me</button>

<!-- Vemos todo lo que tiene un formControl y todo lo que podemos utilizar -->
<!--
<code>
    <pre>{{ nameField | json }}</pre>
</code>
-->

<p>
    Email: {{ emailField.value }}
    <input type="email" [formControl]="emailField">
</p>

<p>
    Phone: {{ phoneField.value }}
    <input type="tel" [formControl]="phoneField">
</p>

<p>
    Color: {{ colorField.value }}
    <input type="color" [formControl]="colorField">
</p>

<p>
    Date: {{ dateField.value }}
    <input type="date" [formControl]="dateField">
</p>

<p>
    Age: {{ numberField.value }}
    <input type="number" [formControl]="numberField">
</p>

<p>
    Phone: {{ numberField.value }}
    <input type="range" [formControl]="numberField">
</p>


<p>
    Radio: {{ radioField.value }}
    <input type="radio" [formControl]="radioField">
</p>

<p>
    URL: {{ urlField.value }}
    <input type="url" [formControl]="urlField">
</p>

<p>
    Search: {{ searchField.value }}
    <input type="search" [formControl]="searchField">
</p>
