<footer>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="row between-xs middle-xs navBar">
                <nav>
                    <div class="social">
                        <a mat-mat-button href="https://github.com/Armando101" target="_blank">GitHub</a>
                        <a mat-mat-button href="https://twitter.com/armandorn101" target="_blank">Twitter</a>
                        <a mat-mat-button href="https://www.instagram.com/armandorn101/" target="_blank">Instagram</a>
                    </div>
                    <div class="inputForm">
                        <label for="">Contacto</label>
                        <mat-form-field>
                            <input matInput place holder="Digite su correo" [formControl]="emailField" type="email">
                            <button mat-raised-button [disabled]="emailField.valid" (click)="sendMail()">Send</button>
                        </mat-form-field>
                    </div>
                </nav>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>